PIPEDRIVE_API_KEY=your_pipedrive_api_key_here
BREVO_API_KEY=your_brevo_api_key_here
LEXOFFICE_API_KEY=your_lexoffice_api_key_here
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"..."}
GOOGLE_SLIDES_TEMPLATE_ID=your_template_id
GOOGLE_DRIVE_PARENT_FOLDER_ID=your_folder_id
GOOGLE_PROBLEM_SLIDE_ID=your_problem_slide_object_id
PIPEDRIVE_OWNER_USER_ID=20546477
